@import '../../app/variables.scss';

.container {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
  background-color: $base-text;
  gap: 2rem;
  width: 100%;
  position: relative;

  .image {
    width: 75px;
    height: auto;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: start;
    .name {
      font-weight: bolder;
      color: $black-medium;
      font-size: 1.1rem;
    }

    .option,
    .price {
      color: $black-lighter;
    }
  }
  .delete {
    position: absolute;
    font-size: 1.5rem;
    top: 5px;
    right: 5px;
    cursor: pointer;

    * {
      color: #dc2626;
    }
  }

  .quantity {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid $primary-strong;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    .buttons {
      cursor: pointer;
    }
    * {
      color: $primary-strong;
      user-select: none;
    }
  }
}
