@import '../../app/variables.scss';

.cartContainer {
  position: relative;

  .cartCount {
    position: absolute;
    top: -10px; // Adjust this value as needed
    right: -10px; // Adjust this value as needed
    background-color: $primary-strong;
    color: white;
    border-radius: 50%;
    width: 20px; // Set equal width
    height: 20px; // Set equal height
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; // Adjust this value as needed
    line-height: 1;
    padding: 0; // Remove padding
  }

  .icons {
    font-size: 1.7rem;
    cursor: pointer;
  }
}

.cartMenu {
  list-style: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: right;
  background-color: #fff;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  width: 400px;

  .titleContainer {
    background-color: $primary-strong;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    * {
      color: $base-text;
    }

    .closeIcon {
      cursor: pointer;
    }
  }

  @media (width < $medium) {
    width: 100%;
  }

  h2 {
    color: $black-medium;
  }

  .cartText {
    color: $black;
    align-self: center;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .cartItems {
      margin: 2rem 0;
      overflow-y: auto;
      margin-bottom: 10rem;
    }

    .cartOptions {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      background-color: #fff;

      .total {
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
        padding: 1rem;

        .detail {
          margin-top: 0.5rem;
          font-size: 1.2rem;
          color: $black;
          font-weight: 900;
        }

        * {
          color: $primary-strong;
        }
      }

      .empty {
        font-size: 1.2rem;
        padding: 1rem 0;
        cursor: pointer;
        background-color: $secondary-strong;
        color: $base-text;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
      }

      .checkout {
        text-align: center;
        color: $base-text;
        background-color: $primary-strong;
        font-size: 1.2rem;
        padding: 1rem 0;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        text-decoration: none;
      }
    }
  }
}

.cartOpen {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  pointer-events: auto;
}
