@import '../../variables.scss';

.container {
  width: 100%;
  align-self: center;

  .innerContainer {
    max-width: 1440px;
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
  }
}

.white {
  background-color: white;
}

.primary {
  background-color: $background-color;
}

.brown {
  background-color: $primary-strong;
}
