@import '../../app/variables.scss';

.addressCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 300px;
  height: 200px;

  .addressHeader {
    margin-bottom: 16px;

    .addressName {
      margin: 0;
      font-size: 1.5rem;
      color: #333;
    }

    .userName {
      margin: 0;
      font-size: 1rem;
      color: #555;
    }
  }

  .addressDetails {
    p {
      margin: 4px 0;
      font-size: 1rem;
      color: #555;
    }
  }

  .icons {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;

    .edit * {
      color: $primary-strong;
    }

    .delete * {
      color: #dc2626;
    }
  }
}
