@import '../variables.scss';

.section {
  width: 100%;
  min-height: 100%;
  max-width: 1440px;
  align-self: center;
  margin-top: auto;

  @media (width < $large) {
    padding: 2rem 0 2rem 0;
  }
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;

  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h3 {
      color: $black-lighter;
    }

    span {
      color: $black-medium;
    }

    .iconContainer {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-top: 0.5rem;

      .icon {
        font-size: 1.5rem;
        fill: $primary-color;
      }
    }
  }
}
