$base-text: #e2e8f0;
$secondary-text: #0f172a;
$background-color: #2e2e2e;

$text-strong: #cbd5e1;
$text-soft: #f1f5f9;
$text-darker: #d0d8e2;
$text-gray: #98a6b8;

$black: #111111;
$black-medium: #232323;
$black-light: #343434;
$black-lighter: #464646;

$primary-color: #ffe4c8;
$primary-strong: #40342f;
$secondary-strong: #a36850;

$small: 640px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;
$xxlarge: 1536px;
