@import '../variables.scss';

.section {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .policy {
    margin: 2rem 0 2rem 0;
    max-width: 800px;

    ul {
      list-style-position: inside;
    }

    p,
    ul,
    li {
      padding-bottom: 0.5rem;
      text-indent: 1rem;
      color: $black-medium;
    }

    h2,
    h3 {
      padding-bottom: 1rem;
      color: $black;
    }

    h2 {
      text-align: center;
      padding-top: 1rem;
    }

    @media (width < $medium) {
      max-width: 100%;
    }
  }
}
