@import '../../app/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  padding-right: 1rem;
  max-width: 1440px;

  .logo {
    width: 7rem;
    height: auto;

    @media (width < $medium) {
      width: 5rem;
    }
  }

  .navLinks {
    display: flex;
    list-style: none;
    gap: 2rem;

    @media (width < $small) {
      display: none;
    }

    li a {
      text-decoration: none;
    }
  }

  .userLinks {
    @extend .navLinks;
    @media screen {
      display: flex;
    }

    .userIcon {
      position: relative;

      .userMenu {
        position: absolute;
        display: none;
        flex-direction: column;
        width: 150px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $base-text;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2),
          0 8px 16px rgba(255, 255, 255, 0.1);

        a {
          color: $black-light;
          padding: 0.5rem 1rem;

          &:hover {
            background-color: $primary-color;
            border-radius: 5px;
          }
        }

        &.accountOpen {
          display: flex;
        }

        .signOut {
          color: #dc2626;
          padding: 0.5rem 1rem;

          &:hover {
            cursor: pointer;
            background-color: $primary-color;
            border-radius: 5px;
          }
        }
      }
    }

    .hamburger {
      @media (width > $small) {
        display: none;
      }
    }
  }

  .icons {
    font-size: 1.7rem;
    cursor: pointer;
  }

  .hamburgerMenu {
    list-style: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 0;
    text-align: right;
    background-color: $primary-color;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 3;

    li * {
      color: $secondary-text;
      text-decoration: none;
    }
  }

  .open {
    transform: translateX(0);
  }
}

.homepage {
  position: absolute;
}
